.viewSection {
  min-height: 50vh;
  padding: 50px;
  border: solid 1px red;
}

.title {
  font-size: 32px;
  color: #fafafa;
}

.list {
  list-style: none;
  max-width: 50%;
}

.listItem {
  border: solid 1px #fb7c27;
  padding: 5px;
  margin: 10px 0;
}

.circle {
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
}

.btn {
  padding: 5px 15px;
  font-size: 18px;
  margin-top: 20px;
}

.box {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
