.viewSection {
  min-height: 50vh;
  padding: 50px;
  border: solid 1px red;
}

.title {
  font-size: 32px;
  color: #fafafa;
}

.list {
  list-style: none;
  max-width: 50%;
}

.listItem {
  border: solid 1px #fb7c27;
  padding: 5px;
  margin: 10px 0;
}

.circle {
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
}

.btn {
  padding: 5px 15px;
  font-size: 18px;
  margin-top: 20px;
}

.box {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.scrollBox {
  width: 65%;
  aspect-ratio: 2 / 1;
  background-color: rgba(255, 255, 255, 0.2);
  overflow-y: auto;
  position: relative;
}

.item {
  width: 65%;
  height: 100%;
  background-color: #a2e;
  display: grid;
  place-items: center;
  margin-left: 20px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.scrollBar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: white;
}

.clickable {
  cursor: pointer;
}

.card {
  width: 50%;
  aspect-ratio: 2 / 1;
  background-color: #a4a4a4;
  padding: 20px;
  border: solid 1px white;
}
