.container {
  padding: 0 2rem;
}

.title {
  font-size: 64px;
  color: transparent;
  background: rgb(56,56,56);
  background: linear-gradient(180deg, rgb(93, 46, 223) 33%, rgba(56,56,56,1) 80%);
  background-clip: text;
  -webkit-background-clip: text;
}

.paragraph {
  margin: 20px 0;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}